attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.3
Django==6.0
docutils==0.22.3
filelock==3.20.0
h2==4.3.0
HTMLParser==0.0.2
inflect==7.5.0
ipython==9.8.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
mysql_connector_repackaged==0.3.1
protobuf==6.33.2
pyodide==0.0.2
pyOpenSSL==25.3.0
python-dotenv==1.2.1
questionary==2.1.1
redis==7.1.0
schedule==1.2.2
simplejson==3.20.2
Sphinx==9.0.4
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
