certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
Cython==3.2.3
docopt==0.6.2
idna==3.11
inflect==7.5.0
more-itertools==10.8.0
mysql-connector-python==9.5.0
pipreqs==0.4.13
prompt_toolkit==3.0.52
questionary==2.1.1
requests==2.32.5
schedule==1.2.2
setuptools==80.9.0
typeguard==4.4.4
typing_extensions==4.15.0
urllib3==2.6.2
wcwidth==0.2.14
wheel==0.45.1
yarg==0.1.10
